{
    "printWidth": 160,
    "semi": true,
    "singleQuote": false,
    "svelteStrictMode": false,
    "svelteBracketNewLine": true,
    "svelteAllowShorthand": true,
    "svelteIndentScriptAndStyle": true,
    "plugins": [
        "prettier-plugin-svelte"
    ]
}