{
  "plugins": ["prettier-plugin-svelte"],
  "semi": true,
  "singleQuote": false,
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true
}
